$primary: #0D53E4;
$primary-selected: #0A41B4;
$primary-hover: #0E4CCD;
$background: #F7F8FB;
$grey: #B2B2B2;
$red: #EE7D6D;
$button: #5B83F1;
$button-hover: #4F73D7;
$primary-button: #5B83F1;
$secondary-button: #C882FF;
$white: #FFFFFF;
$gradient-left: #EE7752;
$gradient-right: #E73C7E;
$text: #333333;