<nav class="menu">
  <a routerLink="/expenses"><div class="logo"><img src="../../assets/icons/Icon-logo/Icon_logo@3x.png"></div></a>
  <a routerLink="/expenses" routerLinkActive="active"><div><img src="../../../assets/icons/Icon-expenses/Icon_expenses@3x.png"></div></a>
  <a routerLink="/expenses" routerLinkActive="active"><div><img src="../../../assets/icons/Icon-projects/Icon_project@3x.png"></div></a>
  <a routerLink="/expenses" routerLinkActive="active"><div><img src="../../../assets/icons/Icon-calendar/Icon_calendar@3x.png"></div></a>
  <a routerLink="/expenses" routerLinkActive="active"><div><img src="../../../assets/icons/Icon-notes/Icon_notes@3x.png"></div></a>
  <a routerLink="/expenses" routerLinkActive="active"><div><img src="../../../assets/icons/Icon-workout/Icon_workout@3x.png"></div></a>
</nav>
